/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
 */

body{
    background-color: #f4f4f4;
}

input{
    background-color: #f4f4f4; 
}

.dropdown{
    margin-right: 50px;
}

tbody{
    text-align: center;
}

/*index.php */

.home-stats .stat{
    padding: 20px;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
}

.home-stats .stat span{
    display: block;
    font-size: 60px;
}
.home-stats .members{
    background-color: #3498db;
}
.home-stats .pending{
    background-color: #c0392b;
}
.home-stats .items{
    background-color: #d35400;
}
.home-stats .comments{
    background-color: #8e44ad;
}

.home-stats .stat a {
    color: white;
    text-decoration: none;
}


.lets{
    margin-top: 40px;
}

.navbar-brand, ul{
    margin-left: 60px;
}
#app-nav{
    color: white;
    
}
.dropdown-menu{
    margin: 8px 15px;
}
.dropdown{
    margin-left: 450px;
}

.navbar a{
    color: white;
    text-decoration: none; 
}
.navbar a:hover{
    color: white;
}
.main-table thead{
    background-color: #333;
    color: #fff; 
}

.categories{
    max-width: 600px;
}

.card{
    max-width: 400px;
}

.control{
    max-width: 600px;
}
.error-message{
    background: white;
    color: #ff9999;
    height: 50px;
    padding-top: 10px;
}

.reponse{
    background: white;
    color: #2dcb33;
    height: 50px;
    padding-top: 10px;
}

.icon input[type=text],
.envolope input[type=email],
.eye input[type=password]{
    padding-left: 40px;
}
.icon, .eye,
.envolope, .star{
    position: relative;
}
.star i{
    position: absolute;
    margin-left: 93%;
    top: 41px;
    color: #FA8072;
    
}

.head{
    margin-left: 66%;
}


.icon i, .eye i,
.envolope i{
    position: absolute;
    left: 0;
    padding: 9px 8px;
    color: dodgerblue;
}
.icon i,
.eye i,
.envolope i{
    top: 33px;
}


footer{
    margin-top: auto;
}

/*begin categories */
.category .cat h5{
    margin: 0 0 10;
}

.category .cat:last-of-type ~hr {
    display: none;
}
hr{
    border: solid 2px;
}

.category .cat .commenting{
    background: #c0392b;
    color: white;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 7px;
}

.category .cat{
    position: relative;
    padding: 15px;
    overflow: hidden;
}
.category .cat .hidden-button{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -120px;
    
}
.login-page form{
    max-width: 300px;
    margin: auto;
}

.login-page [data-class="login"].selected {
    color: #337ab7;
}
.login-page [data-class="logup"].selected {
    color: #5cb85c;
}
.login-page h1{
    color: #C0C0C0;
}
.login-page h1 span{
    cursor: pointer;
}

.login-page .logup{
    display: none;
}
.alert{
    max-width: 300px;
}


.computer{
    position: relative;
}

.price{
    position: absolute;
    bottom: 238px;
    left: 1px;
    background: black;
    font-size: 13px;
    color: white;

}

.category .cat:hover .hidden-button{
    right: 10px;
}
/* end */






/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ##################################################################### */
/* ##########################   SMARTPHONE   ########################### */
/* ##################################################################### */
/* Extra small devices (phones, less than 768px) */



/* ##################################################################### */
/* ############################   TABLETS   ############################ */
/* ##################################################################### */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* ##################################################################### */
/* ############################   DESKTOPS   ########################### */
/* ##################################################################### */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* ##################################################################### */
/* ########################   LARGE DESKTOPS   ######################### */
/* ##################################################################### */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
